<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <div class="add_form">
            <h1 class="author_page_title">{{book.title}}</h1>
            <h2>{{book.desc}}</h2>
            <h2 class="author_books">Authors</h2>
            {% for author in book_authors %}
            <h3>{{author.first_name}} {{author.last_name}}</h3>
            {% endfor %}
            <form action="assign_author" method="POST">
                <input type="hidden" name="book_id" value="{{book.id}}">
                {% csrf_token %}
                <select name="Authors">
                    {% for author in all_authors%}
                    <option value='{{author.id}}'>{{author.first_name}} {{author.last_name}}</option>
                    {%endfor%}
                </select>
                <button>Submit</button>
            </form>
        </div>
    </div>
        <a href="/">Back to books</a>
</body>
</html>